/*  DARK MODE DESATIVADO  */

.darkMode {
    color: #fff;
    background: #101220;
    transition: background .5s;
}

.darkModeLista {
    color: #000;
    background: #fff;
}

/*  DARK MODE ATIVADO  */

.darkMode.active {
    color: #333333;
    background: #FBFBFB;
}

.lightModeLista {
    color: #FBFBFB;
    background: #101220;
    display: block;
}

.lightModeLista a {
    color: #fff;
}

.darkMode.active  nav {
    color: #fff;
    background: #101220;
    transition: background .5s;
}

/* BOTÃO DARK MODE */

.btnDark {
    width: 70px;
    height: 35px;
    border: 5px solid #000;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
}

.btnDark::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: left .5s;
}

.btnDark.active::before {
    left: 35px;
    background-color: #fff;
}

.btnDark.active {
    border-color: #fff;
}

.buttoDarkMode {
    width: 60px;
    height: 40px;
}

@media (max-width: 600px) {
    .btnDark.active {
        border: 5px solid #1C1C1C;
    }

    .btnDark.active::before {
        background: #1C1C1C;
    }
}