/*  DARK MODE DESATIVADO  */

.darkMode {
    color: #fff;
    background: #101220;
    transition: background .5s;
}

.darkModeLista {
    color: #000;
    background: #fff;
}

/*.darkMode  nav {
    color: #000;
    background: #fff;
}

#menu {
    color: #000;
    background: #fff;
}

.darkModeLista {
    color: #fff;
    background: #101220;
}


/*  DARK MODE ATIVADO  */

.darkMode.active {
    color: #000;
    background: #fff;
}

.lightModeLista {
    color: #fff;
    background: #101220;
    display: block;
    /*height: 10vh;
    margin-top: 0;*/
    
}

.lightModeLista a {
    color: #fff;
}

.darkMode.active  nav {
    color: #fff;
    background: #101220;
    transition: background .5s;
}
/*
.darkMode.active  ul, li {
    color: #fff;
    background: #101220;
    transition: background .5s;
}


/* BOTÃO DARK MODE */

.btnDark {
    width: 70px;
    height: 40px;
    border: 5px solid #000;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
}

.btnDark::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 30px;
    background: #000;
    border-radius: 50%;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: left .5s;
}

.btnDark.active::before {
    left: 25px;
}

.buttoDarkMode {
    width: 60px;
    height: 40px;
}