* {
    margin: 0;
    font-family: 'Monoton', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

.menuFixo {
    position: fixed;
    margin-top: -65px;
    margin-bottom: 20%;
    z-index: 10000;
    width: 100%;
}

nav > ul {
    width: 80vw;
    height: 40px;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #101220;;
}

a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: bolder;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 60px auto;
    font-family: monospace;
}

h1::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: piscaCursor .7s infinite;
}

@keyframes piscaCursor {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

#inicio,#sobre_mim, #projetos, #habilidades {
    margin-top: 10vh;
}

.circulo-conteiner > img {
    height: 300px;
}

h2 {
    font-size: 2em;
    margin: 10% 5% 2% 15%;
    padding-left: 15px;
    background-image: linear-gradient(to right, #4499EF, #AF23EF);
    width: 80vw;
}

@media (max-width: 600px) {
    h2 {
        width: 100vw;
        margin: 10vh 0%;
        text-align: center;
    }
}

p {
    font-size: 1.6rem;
    margin: 0% 20%;
    line-height: 2em;
}

.logo esquerda {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.img_habilidades {
    width: 300px;
    height: 300px;
}

/* #66207A */